In [1]:
import pandas as pd
import numpy as np
import matrix_factorization_utilities

In [2]:
#load user ratings
raw_dataset_df = pd.read_csv('movie_ratings_data_set.csv')

In [3]:
# converts the running list of user ratings into matrix
ratings_df = pd.pivot_table(raw_dataset_df, index='user_id', columns='movie_id', aggfunc=np.max)

In [4]:
# Apply matrix factorization to find the latent features
U, M = matrix_factorization_utilities.low_rank_matrix_factorization(ratings_df.values,
                                                                    num_features=15,
                                                                    regularization_amount=0.1)

Warning: Maximum number of iterations has been exceeded.
         Current function value: 32.504363
         Iterations: 3000
         Function evaluations: 4505
         Gradient evaluations: 4505

In [5]:
# Find all predicted ratings by multiplying the U by M
predicted_ratings = np.matmul(U, M)

In [6]:
# Save all the ratings to a csv file
predicted_ratings_df = pd.DataFrame(index=ratings_df.index,
                                    columns=ratings_df.columns,
                                    data=predicted_ratings)
predicted_ratings_df.to_csv("predicted_ratings.csv")

In [7]:
predicted_ratings_df.head()

             value                                                    \
movie_id        1         2         3         4         5         6
user_id
1         4.003227  3.920680  4.155690  3.527642  3.920310  4.142704
2         4.970686  4.967956  4.445324  3.903819  4.831207  4.706611
3         4.017199  3.985703  4.955719  4.088422  4.528640  4.271140
4         4.991060  4.987236  4.928957  4.961965  5.010566  4.961597
5         4.980629  4.240462  5.461055  4.373638  5.162417  4.555466

                                                  ...                      \
movie_id        7         8         9         10  ...        25        26
user_id                                           ...
1         2.655802  4.066271  4.010430  3.805220  ...  3.797049  3.984577
2         3.394188  4.698875  4.531646  4.837406  ...  4.314315  4.494230
3         2.818636  4.337839  4.491393  4.367760  ...  4.080604  4.316981
4         3.945119  5.076033  4.951864  5.017200  ...  4.062734  4.741867
5         3.149939  4.638088  4.982063  4.918849  ...  4.507067  4.723253

                                                                      \
movie_id        27        28        29        30        31        32
user_id
1         3.330183  3.990536  3.457302  3.109012  2.723894  3.356778
2         4.414648  4.163607  3.462424  4.388888  2.994304  4.346952
3         3.879369  4.474733  3.205803  3.238572  2.233634  2.591653
4         4.503061  4.906680  3.116536  3.413007  2.008408  4.223604
5         3.737442  5.072923  3.017242  3.610318  2.996266  2.031799


movie_id        33        34
user_id
1         3.039967  4.570543
2         4.013393  3.999406
3         3.444940  4.599394
4         4.171601  4.644364
5         4.980754  4.987317

[5 rows x 34 columns]